:root{
    --font_f_1: system-ui;
    --font_c_1: #E4DFDA;

    --background_c_1: #48A9A6;
    --background_c_2: #C1666B;
    --background_c_3: #d4b483;
    --background_c_4: #6B1BC5;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    font-size: 3.5rem;
    font-weight: 800;
    padding: 1.5rem;
    background: linear-gradient(90deg, var(--background_c_2), var(--background_c_4), var(--background_c_2));
    color: var(--font_c_1);
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem;

    font-size: 1.8rem;
    font-weight: 700;
    background: var(--background_c_2);
}

body{
    margin: 0;
    font-family: var(--font_f_1);
    background-color: var(--background_c_1);
}


main{
    width: 80%;
    padding: 1rem;
    /*margin-inline: auto;
    columns: 4;*/
    background-color: var(--background_c_1);
    color: var(--font_c_1);
}

.knapp{
    font-size: 3rem;
    margin: 2rem;
    padding: 3rem;
    border-radius: 50%;
    color: var(--background_c_1);
    background-color: var(--background_c_3);
    border: 0.5rem dotted var(--background_c_4);

}
.button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)}

footer{
    padding: 2rem;
    background: var(--background_c_2);
    color: var(--font_c_1);
    font-weight: 800;
    font-size: 1.2rem;
}

.center{
    display:grid;
    place-content: center;
    
}

.center_2{
    display: flex;
    justify-content: center;
    gap: 5rem;
}